/* Main stylesheet */

body
{
    font-family: 'Rosario', 'sans-serif';
}

.title_bar  
{
    background-color: #2C3531;
    padding-left: 0px;
    
    h1
    {
        color: #D9B08C;
        vertical-align: middle;
    }
}

.title_image 
{
    max-width: 70px;
    width: 100%;
    margin: 10px;
    border: 2px solid #116466;
    border-radius: 5px;
}

.image_right 
{
    text-align: right;
    padding-right: 0px;
}
